@import 'variables';

$app-margin-bottom: 20px;

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100vw;

  &::after {
    content: '';
    flex: 0 0 $app-margin-bottom;
    width: 100%;
  }
}

.page {
  min-width: 895px;
  max-width: 1300px;
  width: 100vw;
  height: calc(100vh - #{$nav-bar-height});
  padding: 30px 300px 30px 100px;

  background-color: white;
}

.page-title {
  margin-bottom: 15px;

  color: #333;
  font-size: 3rem;
}

.horizontal {
  display: flex;
}

.enhance-on-hover {
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}

.smoothly-enhance-on-hover {
  @extend .enhance-on-hover;
  transition: opacity .2s ease-out;
}

%link {
  text-decoration: none;
  background-color: transparent;
  color: #1770c1;
  border: none;
  cursor: pointer;
}
