.sub-filters {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.search {

}

.time-range-slider {
  flex-basis: 40%;
  margin-top: -8px;
}

.movie-list {
  margin-top: 20px;
}