.sub-filters {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.search {

}

.time-range-slider {
  margin-top: 20px;
  margin-left: 3vw;
  margin-right: 3vw;
}

.movie-list {
  margin-top: 20px;
}