.gallery {
  z-index: 1;
  position: relative;

  width: 100%;
  height: 550px;

  .primary-item-container {

    .primary-item {
      width: 100%;
      height: 500px;

      object-fit: cover;
      object-position: 30% 30%;
      cursor: pointer;
    }
  }

  .items-previews-container {
    z-index: 1;
    position: absolute;
    top: calc(500px - 39px);
    right: 25px;

    display: inline-flex;
    padding: 2px;

    background-color: white;

    .item-preview-container {
      width: 78px;
      height: 78px;
      margin: 2px;

      .item-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;

        cursor: pointer;
      }
    }

    .hidden-items-count {
      width: 78px;
      height: 78px;
      margin: 2px;

      background-color: #f3f1ed;
      color: grey;
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      line-height: 78px;
      cursor: pointer;
    }
  }
}