.tooltip {
  z-index: 15;
  position: absolute;
  top: calc(100% - 68px);

  display: flex;
  flex-direction: column;
  height: 28px;
  width: 72px;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 3px;

  background-color: white;
  font-size: 14px;
  pointer-events: none;


  &::before, &::after {
    content: '';
    position: absolute;
    left: auto;
    width: 0;
    height: 0;
    border: 7px solid transparent;
  }

  &::before {
    bottom: -15px;
    border-top-color: lightgray;
  }

  &::after {
    bottom: -13px;
    border-top-color: white;
  }
}