@import '../../../../assets/scss/main.scss';

.error-page-info {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.7rem;
  text-align: center;

  .error-page-request {
    font-size: 1.6rem;
    font-weight: normal;

    .reload-link {
      @extend %link;
      font-size: 1.6rem;
    }
  }
}