@import '../../assets/scss/variables';

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  width: 1299px;
  height: $nav-bar-height;

  background-color: white;
  border-bottom: 1px solid #E5E5E5;

  .leftPart {
    display: flex;
    align-items: center;

    .brand {
      color: rgb(21, 21, 21);
      font-size: 26px;
      text-align: center;
      margin-right: 40px;
      cursor: default;
    }
  }

  .rightPart {
    display: flex;
    align-items: center;

    .usernameContainer {
      margin-left: 10px;
      color: #979595;
      font-size: 18px;
    }

    .zone-delimeter {
      margin: 0 20px;
      background-color: #D1D1D1;
    }

    .login-btn {
      width: 102px;
      height: 32px;
      font-size: 16px;
    }
  }
}