  .movie-description {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;

    font-size: 1.6rem;
    white-space: pre-wrap;
  }

.movie-extra-info {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;

  line-height: 1.5;

  .label {
    display: inline-block;
    width: 13rem;

    color: #7f7f7f;
    font-size: 1.4rem;
  }

    p {
      display: inline;

      color: black;
      font-size: 1.4rem;
    }
}

.schedule-container {
  margin-top: 3rem;

  .schedule-title {
    margin-bottom: 1.5rem;

    color: #222;
    font-size: 2.2rem;
  }

  .filters-container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;

    background-color: #F5F5F5;

    .date-filter {
      width: 800px;
    }
  }
}