@import '../../../assets/scss/variables';

.link {
  font-size: 24px;
  color: rgb(21, 21, 21);
  text-decoration: none;
  text-align: center;

  &:hover {
    color: hsl(0, 100%, 45%);;
  }
}

.activelink {}

.linkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $nav-bar-height;
  margin-right: 30px;
}

.activeLinkBox{
  border-bottom: 2px solid red;
}


