.gallery {
  position: relative;

  width: 80%;

  .primary-item-container {

    .primary-item {
      width: 100%;
      height: 500px;

      cursor: pointer;
    }
  }

  .items-previews-container {
    z-index: 1;
    position: absolute;
    top: calc(500px - 3vw);
    right: 25px;

    display: inline-flex;
    padding: 0.2vw;

    background-color: white;

    .item-preview-container {
      width: 6vw;
      height: 6vw;
      margin: 0.2vw;

      .item-preview {
        width: 100%;
        height: 100%;

        cursor: pointer;
      }
    }

    .hidden-items-count {
      width: 6vw;
      height: 6vw;
      margin: 0.2vw;

      background-color: #f3f1ed;
      color: grey;
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      line-height: 6vw;
      cursor: pointer;
    }
  }
}