@import '../../../../assets/scss/variables';

.link {
  font-size: 2rem;
  color: rgb(21, 21, 21);
  text-decoration: none;
  text-align: center;

  &:hover {
    color: hsl(0, 100%, 45%);
  }
}

.active-link {}

.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $nav-bar-height;
  margin-right: 30px;
}

.active-link-box{
  border-bottom: 2px solid red;
}


