.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;

  img {
    width: 40px;
    height: 40px;
  }
}