.toggleIcon {
  width: 10px;
  height: 10px;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;

  &.on {
    transform: rotate(-180deg);
  }

  &.off {}
}
