.movie-box {
  display: flex;
  width: 100%;
  padding: 20px;

  border-top: 1px solid #e3e3e3;

  &:hover {
    background-color: #F6F5F3;
  }

  .poster{
    flex-shrink: 0;
    height: 180px;
    width: 120px;

    object-fit: cover;
    cursor: pointer;
  }

  .main-info {
    flex-basis: 35%;
    margin-left: 15px;

    .genres {
      margin-bottom: 8px;
      color: #666;
      font-size: 13px;
      line-height: 15px;
    }

    .title {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      cursor: pointer;

      &:hover {
        color: hsl(0, 100%, 45%);
      }
    }
  }

  .seances {
    flex-basis: 40%;
  }
}