.slider {
  position: relative;
  display: flex;
  flex-basis: content;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: flex-end;

.first-mark-box {
  .first-mark-label {
    position: absolute;
    top: 9.5px;
    left: -13px;
    font-size: 11px;
    margin-bottom: 8px;
  }

  .first-mark {
    position: relative;
    display: inline-block;
    top: 8px;
    width: 2px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

  .time-interval-with-mark-box {
    position: relative;

    .mark-label {
      position: absolute;
      top: -24px;
      right: -13px;
      font-size: 11px;
      margin-bottom: 8px;
      margin-left: 15.7%;
    }

    //.mark {
    //  position: relative;
    //  display: inline-block;
    //  bottom: -10px;
    //  width: 1px;
    //  height: 12px;
    //  background-color: rgba(0, 0, 0, 0.2);
    //}
  }

  .time-interval {
    z-index: -1;
    width: 21px;
    height: 6px;
    border: 1px solid #e7c100;
    border-left: none;
    background-color: #fee8a4;

    &.with-mark {
      border-right: none;

      &:after {
        content: '';
        width: 100%;
        position: absolute;
        top: -3.5px;
        height: 13px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  .slider-handler {
    position: absolute;
    top: 26px;
    width: 14px;
    height: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    cursor: ew-resize;

    &:after {
      content: '';
      position: absolute;
      top: 27%;
      left: 30%;
      height: 46%;
      width: 40%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 20%, white 20% 40%, rgba(0, 0, 0, 0.4) 40% 60%, white 60% 80%, rgba(0, 0, 0, 0.4) 80%);
    }

    &.left {
      left: -7px;
    }

    &.right {
      right: 17px;
    }
  }
}