.slider-box {
  display: flex;
  flex-direction: column;

  .slider-mark-labels {
    display: flex;

    .mark-label {
      font-size: 11px;
      margin-bottom: 8px;

      &:not(:first-of-type) {
        margin-left: 15.7%;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-left: 2%;

    .slider-handler {
      position: absolute;
      top: 0;
      width: 15px;
      height: 18px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 1px;

      &:after {
        content: '';
        position: absolute;
        top: 27%;
        left: 30%;
        height: 46%;
        width: 40%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 20%, white 20% 40%, rgba(0, 0, 0, 0.4) 40% 60%, white 60% 80%, rgba(0, 0, 0, 0.4) 80%);
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .time-interval {
      width: 21px;
      height: 6px;
      border: 1px solid #e7c100;
      border-left: none;
      background-color: #fee8a4;
    }

    .mark {
      position: relative;
      bottom: -3px;
      width: 1px;
      height: 12px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}