.frequent-date-btn {
  padding: 0 12px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 26px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: white;

  &.selected {
    background-color: #ffeca6;
  }
}